.jumbotron {
    background-image: url("../assets/burger.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color:#FEC208;
    color: #ffffff;
    margin-top: 3%;
  }

  .jumbo-text {
    text-align: center;
  }
  #newburger {
    color: #5c5c5c;
  }
  #leftside {
    background-color: #CF240A;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color:#CF240A;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #devoured {
    opacity: 50%;
  }